<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <section>
                <h3 class="sub-title">오늘의 진상</h3>
            </section>
        </div>
    </div>

    <div class="card" style="margin-top: 30px">
        <div class="card-body">
            <form role="form" th:action="@{/board/register}" method="post">
                <div class="form-group form-inline">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" style="margin-left: 10px">
                </div>

                <div class="form-group form-inline">
                    <label for="address">진상 발생지</label>
                    <input type="text" id="address" name="address" style="margin-left: 10px">
                    <input type="button" onclick="sample5_execDaumPostcode()" value="주소검색" placeholder="주소검색"
                           style="margin-left: 15px">
                </div>

                <div id="map" style="width:100%;height:500px;margin-top:10px;display:none"></div>
                <div class="form-group">
                    <textarea id="summernote" name="content" maxlength="140" rows="7"></textarea>
                </div>


                <button id="goList" class="btn btn-outline-primary" style="float: right;">목록</button>
                <button class="btn btn-outline-primary pull-right" style="float: right;margin-right: 15px"
                        type="submit">등록
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=32519abbf2740e177af7221aa1c38b81&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function (results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }

    $(document).ready(function () {
        $("#goList").on("click", function (e) {
            e.preventDefault();
            self.location = "/board/list";
        })

        $('#summernote').summernote({
            height: 400,
            minHeight: null,
            maxHeight: null,
            focus: true,
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i], this);
                    }
                }
            }
        });

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        function sendFile(file, el) {
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            var form_data = new FormData();
            form_data.append('file', file);

            $.ajax({
                data : form_data,
                type : "POST",
                url : '/image',
                cache : false,
                contentType : false,
                enctype : 'multipart/form-data',
                processData : false,
                success : function(url) {
                    $(el).summernote('insertImage', url, function($image) {
                        $image.css('width', "50%");
                    });
                }
            });
        }
    })
</script>
