<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHeader :: mainHeader"></head>

<body class="jsdotcom vsc-initialized">
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div th:replace="fragments/nav :: mainNav"></div>

<style>
.btnsaveprofile {
	height: 40px;
    width: 104px;
    margin-left: 10px;
    background-color: black;
    border-color: black;
    color: #9281e3;
    border-radius: 8px;
    padding: 0;
}

</style>

<div class="content sub ">
    <section>
        <h3 class="sub-title">
            내 정보 수정
        </h3>
        <div class="register-wrap">
			<form id="f1" th:action="@{/user/password}" method="post">
				<div class="input-fl-field">
					<span class="input-tit">비밀번호 변경</span>
					<div class="input-multi">
						<div class="inner-wrap">
							<span>
								<input class="input" type="password" id="cur-user-pw" name="currentPassword" placeholder="현재 비밀번호">
							</span>
							<span>
								<input class="input" type="password" id="edit-user-pw" name="editPassword" placeholder="새 비밀번호">
							</span>
							<span>
								<input class="input" type="password" id="conf-user-pw" placeholder="새 비밀번호 확인">
							</span>
							<p class="passwordMsg" style="float:right; margin: 0 10px 20px 0">비밀번호를 입력해주세요.</p>
						</div>
					</div>
					<button type="button" class="button btnpass">수정완료</button>
				</div>
			</form>
            <div class="input-fl-field">
                <label class="input-tit" for="user-nick">닉네임 변경</label>
                <div class="input-multi duo">
                    <div class="inner-wrap">
                        <span class="ell" th:text="${member.nickName}">jang</span>
                        <span>
							<span class="with-conf">
								<input class="input base-input" type="text" id="user-nick" placeholder="새 닉네임">
								<button type="button" class="button btnchecknick">중복확인</button>
							</span>
						</span>
						<p class="nickNameMsg" style="float:right; margin: 0 10px 0 0;">닉네임을 입력해주세요.</p>
                    </div>
                </div>
                <button type="button" class="button btnsavenick">수정완료</button>
            </div>
            <div class="input-fl-field">
                <span class="input-tit">프로필 변경</span>
                <div class="input-multi duo">
                    <div class="inner-wrap">
						<span>
							<span class="with-conf locationOfThumbnail">
								<span class="base-input">
									<img src=''>
								</span>
								<button type="button" class="button delprofile">삭제</button>
							</span>
						</span>
                        <span>
							<span class="file">
								<label class="file-label" for="user-prof">
									<input id="user-prof" name="profileimg" class="file-input" type="file">
									<span class="file-name">선택된 파일 없음</span>
									<span class="file-cta">
										<span>파일선택</span>
									</span>
								</label>
							</span>
						</span>
						<p class="fileUploadMsg" style="float:right; margin: 0 10px 20px 0">파일을 업로드해주세요.</p>
                    </div>
				</div>
				<span class="profileImgModify">
					<button type="button" class="button btnsaveprofile">수정완료</button>
				</span>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-link">
            <a href="#" class="privacy">개인정보처리방침</a>
            <a href="#" class="term">서비스이용약관</a>
        </div>
        <p class="copyright">Copyright ⓒ jinnsang.com , ALL RIGHTS RESERVED.</p>
    </div>
</footer>
<script>
var isnicknamecheck = false;//nick check

$(function(){
	var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

	// var userid = "azanghs@naver.com";
	var f1 = $("#f1");
	var passwordMsg = $(".passwordMsg");
	var currentPassword = $("#cur-user-pw");
	var editPassword = $("#edit-user-pw");

	var nickNameMsg = $(".nickNameMsg");
	var nickNameInput = $("#user-nick");

	var inputFile = $("input[name='profileimg']");
	var fileUploadMsg = $(".fileUploadMsg");

	var locationOfThumbnail = $(".locationOfThumbnail");
	var profileImgModify = $(".profileImgModify");
	
	$(".btnpass").click(function(){
		if(!$("#cur-user-pw").val()){
			alert("비밀번호를 입력해주세요");
			$("#cur-user-pw").focus();
			return false;
		}
		if(!$("#edit-user-pw").val()){
			alert("새 비밀번호를 입력해주세요");
			$("#edit-user-pw").focus();
			return false;
		}
		if(!$("#conf-user-pw").val()){
			alert("새 비밀번호 확인을 입력해주세요");
			$("#conf-user-pw").focus();
			return false;
		}
		if($("#edit-user-pw").val() != $("#conf-user-pw").val()){
			alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
			return false;
		}

		//비밀번호타입체크.
		//비밀번호 복잡도 10자이상 20이하, 영문숫자특수문자 혼합.
		if(!check.test($("#cur-user-pw").val()) || !check.test($("#edit-user-pw").val()) || !check.test($("#conf-user-pw").val())){
			alert("비밀번호는 10자이상 20자이하, 영문, 숫자, 특수문자를 혼합해야 합니다.");
			return false;
		}

		if($("#cur-user-pw").val()){
			verifyPassword();
		}
	});

	function verifyPassword(){
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		// 현재 비밀번호 체크
		var param = {"currentPassword":$("#cur-user-pw").val()};
		$.ajax({
			url:'/user/match/password',
			data:param,
			method:'post',
			success:function(data){
				if(!data) {
					passwordMsg.text("비밀번호가 일치하지 않습니다.").css("color", "red");
					return false;
				} else {
					sendChangedPassword();
				}
			},
			error:function(request, status, error){
				console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	}

	function sendChangedPassword() {
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		var password = {
			currentPassword: currentPassword.val(),
			editPassword: editPassword.val()
		}

		$.ajax({
			url:'/user/password',
			data:JSON.stringify(password),
			contentType : "application/json",
			method:'post',
			success:function(data){
				if(data) {
					passwordMsg.text("비밀번호 변경 완료").css("color", "black");
				}
			},
			error:function(request, status, error){
				console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	}
	
	// 새로운 닉네임을 저장한다.
	$(".btnsavenick").click(function(){
		if(!$("#user-nick").val()){
			alert("닉네임을 입력해주세요");
			$("#user-nick").focus();
			return false;
		}
		if(!isnicknamecheck){
			alert("닉네임중복체크를 해주세요");
			return false;
		}
		if(!nickcheck()){
			//닉네임 수정 전송.
			var senddata = {"nickName" :$("#user-nick").val()}
			//check email
			$.ajax({
				url:'/user/change/nickname',
				method:'post',
				data:senddata,
				success:function(data){
					if(data){
						nickNameMsg.text("닉네임 변경 완료").css("color", "black");
					}
				},
				error:function(request,status,error){
					console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					return false;
				}
			});
		}
	});

	$(".btnchecknick").click(function(){
		nickcheck();
	});

	//닉네임 중복체크.
	function nickcheck(){
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		var senddata = {"nickName" :$("#user-nick").val()}
		
		$.ajax({
			url:'/user/checkNickName',
			method:'post',
			data:senddata,
			success:function(data){
				console.log(data);
				if(data){
					nickNameMsg.text("이미 등록된 닉네임 입니다.").css("color", "red");
					nickNameInput.val("").focus();
					return false;
				} else {
					nickNameMsg.text("사용가능한 닉네임 입니다.").css("color", "black");
					isnicknamecheck = true;
					return true;
				}
			},
			error:function(request,status,error){
				console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
				return false;
			}
		});
	}

	$(".locationOfThumbnail").on("click", ".delprofile" ,function(){
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		var userprofile = $("input[name='profileimg']");

		if(!userprofile){
			alert("삭제할 프로필이 없습니다.");
			return false;
		}

		var uuid = $(this).data("uuid");
		var uploadPath = $(this).data("path");
		var fileName = $(this).data("file");

		var fileDetail = {
			uuid : uuid,
			uploadPath : uploadPath,
			fileName : fileName
		}

		var str ="";

		console.log("about to delete file");
		console.log(fileDetail);

		if(confirm("프로필을 삭제하시겠습니까?")){
			$.ajax({
				url:'/user/delete/profile',
				method:'post',
				data: JSON.stringify(fileDetail),
				contentType : "application/json",
				success:function(data){
					if(data) {
						fileUploadMsg.text("프로필이 삭제되었습니다.");

						str += "<span class='base-input'><img src=''></span>";
						str += "<button type='button' class='button delprofile'>삭제</button>";

						locationOfThumbnail.html(str);
					}
				},
				error:function(request,status,error){
					console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					return false;
				}
			});
		}
	});

	//fileupload
	$(".profileImgModify").on("click", ".btnsaveprofile" ,function(){
		//validation
		if(!$("#user-prof").val()){
			alert("프로필이 업로드되지 않았습니다.");
			return false;
		}
		
		var uuid = $(this).data("uuid");
		var uploadPath = $(this).data("path");
		var fileName = $(this).data("file");

		var fileDetail = {
			uuid : uuid,
			uploadPath : uploadPath,
			fileName : fileName
		}

		console.log(fileDetail);

		sendFileDetail(fileDetail);
	});

	$(".file-input").change(function () {
		if ($(this).length > 0) {
			$(this).closest('.file').find('.file-name').text($(this)[0].files[0].name);
		}

		uploadProfileImg();
	});

	function uploadProfileImg(){
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		var formData = new FormData();
		var files = inputFile[0].files;

		formData.set("profileimg", files[0]);
		str = "";
		strBtn = "";

		$.ajax({
			type: "POST",
			url: "/uploadProfile",
			data: formData,
			processData: false,
			contentType: false,
			dataType:"json",
			success: function (data) {
				// sendFileDetail(data);
				var fileCallPath 
						= encodeURIComponent(data.uploadPath + "/s_" + data.uuid + "_" + data.fileName);
				
				str += "<div><img src='/display?fileName=" + fileCallPath + "'></div>";
				str += "<button type='button' class='button delprofile' data-path='"+ data.uploadPath +"' "
					   + "data-uuid='"+ data.uuid +"' data-file='"+ data.fileName +"'>삭제</button>"

				strBtn += "<button type='button' class='btnsaveprofile' data-path='"+ data.uploadPath +"' "
					   + "data-uuid='"+ data.uuid +"' data-file='"+ data.fileName +"'>수정완료</button>"
				

				locationOfThumbnail.html(str);
				profileImgModify.html(strBtn);

				fileUploadMsg.text("수정완료 버튼을 눌러주세요.");
			},
			err: function (err) {
				alert(err.status);
			}
		});
	}

	function sendFileDetail(fileDetail) {
		$(document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		$.ajax({
			type: "POST",
			url: "/user/modify/profile",
			data: JSON.stringify(fileDetail),
			contentType: "application/json",
			success: function (data) {
				if(data) {
					fileUploadMsg.text("프로필이 수정되었습니다.");
				}
			},
			err: function (err) {
				alert(err.status);
			}
		});
	}
});
</script>
<script>
	$(document).ready(function() {
		var locationOfThumbnail = $(".locationOfThumbnail");

		(function(){
			$.getJSON("/user/get/profile", function(data){
				console.log(data);
				var str = "";

				var fileCallPath 
						= encodeURIComponent(data.uploadPath + "/s_" + data.uuid + "_" + data.fileName);
				
				str += "<div><img src='/display?fileName=" + fileCallPath + "'></div>";
				str += "<button type='button' class='button delprofile' data-path='"+ data.uploadPath +"' "
					   + "data-uuid='"+ data.uuid +"' data-file='"+ data.fileName +"'>삭제</button>"
				
				locationOfThumbnail.html(str);
			});
		})();
	});
</script>
</body>
</html>