<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainHeader :: mainHeader"/>
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div class="container">
    <h1>회원 가입</h1>
    <hr>
    <form th:action="@{/user/signup}" method="post">
        <div class="form-group">
            <input type="text" name="email" placeholder="이메일 입력해주세요" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="비밀번호" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="name" placeholder="이름 입력해주세요" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-dark" style="float: right">가입하기</button>
    </form>
</div>
</body>
</html>